# ignore all
*

# BUT
!data_preparation/
!data_preparation/notebooks/
!data_preparation/notebooks/*.ipynb
!data_preparation/data_prep_scripts/
!data_preparation/data_prep_scripts/*.py
# ---------------------------------------------------------------
!ML/
!ML/*.py
!ML/*.ipynb
# ---------------------------------------------------------------
!util.py
!.gitignore
!README.MD
!requirements.txt