# ignore all
*

# BUT
!assets/
!assets/*
# ---
!data_mining/
!data_mining/*.py
!data_mining/*.ipynb
!data_mining/*.sh
# ---
!docs/
!docs/*.pdf
# ---
!M2F/
!M2F/*.py
!M2F/dependencies/
!M2F/dependencies/*
# ---
!models/
!models/PROT*/
!models/PROT*/*.py
!models/PROT*/*.ipynb
# ---

# ---