goatools==1.4.12
numpy==2.3.2
openai==1.99.3
pandas==2.3.1
pyarrow==21.0.0
requests==2.32.4
scikit-learn==1.7.1
setuptools==80.9.0
torch==2.8.0
torch-geometric==2.7.0
transformers==4.55.0
wandb==0.27.2
zarr==3.1.1
